<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="mt-3 mb-5">商品編集</h2>
      <%= form_for(@item, url: admin_item_path) do |item| %>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">商品画像</label>
          <div class="col-sm-8">
            <%= item.file_field :item_image, class: "form-control-file" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">商品名</label>
          <div class="col-sm-8">
            <%= item.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">商品説明</label>
          <div class="col-sm-8">
            <%= item.text_area :introduction, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">ジャンル</label>
          <div class="col-sm-8">
            <%= item.collection_select(:genre_id, Genre.all, :id, :name) %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">税抜価格</label>
          <div class="col-sm-8">
            <%= item.text_field :price, class: "form-control admin-item-new-taxform" %>円
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">販売ステータス</label>
            <div class="col-sm-7">
              <%= item.radio_button :is_active, true %>
              <%= item.label :is_active, "販売中" %>
              <%= item.radio_button :is_active, false %>
              <%= item.label :is_active, "販売停止中" %>
            </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12 d-flex justify-content-center">
            <%= item.submit "変更を保存", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>