<h2>注文履歴詳細</h2>

<div>
  <table>
    <tr>
      <th>購入者</th>
      <td>
        <%= @order.customer.last_name %>
        <%= @order.customer.first_name %>
      </td>
    </tr>
    <tr>
      <th>注文日</th>
      <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
    </tr>
    <tr>
      <th>配送先</th>
      <td>
        <%= "〒"+@order.postal_code %>
        <%= @order.address %><br>
        <%= @order.name %>
      </td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td><%= @order.pay_type_i18n %></td>
    </tr>
  </table>

  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <% @order_details.each do |t| %>
        <tr>
          <td><%= t.item.name %></td>
          <td><%= (t.item.price * 1.1).floor%></td>
          <td><%= t.amount %></td>
          <td><%= t.subtotal %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table>
    <tr>
      <th>商品合計</th>
      <td>
        <% @total = 0%>
        <% @order_details.each do |a| %>
          <% @total += a.subtotal %>
        <% end %>
        <%= @total %>
      </td>
    </tr>
    <tr>
      <th>送料</th>
      <td><%= @order.postage %></td>
    </tr>
    <tr>
      <th>請求合計金額</th>
      <td><%= @total += @order.postage %></td>
    </tr>
  </table>
</div>