<h2>配送先編集</h2>

<%= form_with model: @address do |address| %>

<div class="field">
  <label>郵便番号(ハイフンなし)</label>
  <%= address.text_field :postal_code %>
</div>

<div class="field">
  <label>住所</label>
  <%= address.text_field :address %>
</div>

<div class="field">
  <%= address.text_field :name %>
</div>

<div class="actions">
  <%= address.submit "変更内容を保存" %>
</div>
<% end %>