<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |customer| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <label>名前</label>
    <div>
      <label>(姓)</label>
      <%= customer.text_field :last_name %>
      <label>(名)</label>
      <%= customer.text_field :first_name %>
    </div>
    <label>フリガナ</label>
    <div>
      <label>(セイ)</label>
      <%= customer.text_field :last_name_kana %>
      <label>(カナ)</label>
      <%= customer.text_field :first_name_kana %>
    </div>
  </div>

  <div class="field">
    <%= customer.label :email, "メールアドレス" %>
    <%= customer.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <label>郵便番号(ハイフンなし)</label>
    <%= customer.text_field :postal_code %>
  </div>

  <div class="field">
    <label>住所</label>
    <%= customer.text_field :address %>
  </div>

  <div class="field">
    <label>電話番号(ハイフンなし)</label>
    <%= customer.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= customer.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %>
    <%= customer.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= customer.label :password_confirmation, "パスワード(確認用)" %>
    <%= customer.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= customer.submit "新規登録" %>
  </div>
<% end %>

<p>既に登録済みの方</p>

<%= link_to "こちら", new_customer_session_path %>  からログインしてください。