<h2>注文情報確認</h2>
<div>
  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
      <tbody>
        <% current_customer.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= image_tag cart_item.item.item_image, size: "100x80" %>
              <%= cart_item.item.name %>
            </td>
            <td>
              <%= (cart_item.item.price * 1.1).to_i %>
            </td>
            <td>
              <%= cart_item.amount %>
            </td>
            <td>
              <%= cart_item.subtotal %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
</div>

<div>
  <table>
    <tr>
      <th>送料</th>
      <td><%= @postage %></td>
    </tr>
    <tr>
      <th>商品合計</th>
      <td>
        <% current_customer.cart_items.each do |cart_item| %>
          <% @total_price += cart_item.subtotal %>
        <% end %>
        <%= @total_price %>
      </td>
    </tr>
    <tr>
      <th>請求金額</th>
      <td><%= @order_price = @total_price + @postage %></td>
    </tr>
  </table>
</div>

<div>
  <h3>支払方法</h3>
  <%= @order.pay_type_i18n %><br>
  <h3>お届け先</h3>
  <%= "〒" + @order.postal_code + @order.address %><br>
  <%= @order.name %>
</div>

<div>
  <%= form_with model: @order, url: orders_path, method: :post do |order| %>
   <%= order.hidden_field :postal_code, :value => @order.postal_code %>
   <%= order.hidden_field :address, :value => @order.address %>
   <%= order.hidden_field :name, :value => @order.name %>
   <%= order.hidden_field :pay_type, :value => @order.pay_type %>
   <%= order.hidden_field :order_price, :value => @order_price %>
   <%= order.hidden_field :postage, :value => @postage %>
   <%= order.submit "注文を確定する" %>
  <% end %>
</div>