<!-- 顧客、管理者共通部分テンプレートファイル -->

        <!-- headerロゴ -->
        <a class="navbar-brand" href="/">
          <%= image_tag 'nagano_cake_logo' %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <!-- 顧客、管理者共通のヘッダーリスト -->
            <li>
              <%= link_to about_path, class: "nav-link text-dark" do %>
              <span>About</span>
              <% end %>
            </li>
            <li>
              <%= link_to items_path, class: "nav-link text-dark" do %>
              <span>商品一覧</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_customer_registration_path, class: "nav-link text-dark" do %>
              <span>新規登録</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_customer_session_path, class: "nav-link text-dark" do %>
              <span>ログイン</span>
              <% end %>
            </li>
          </ul>
        </div>