<!-- 顧客、管理者共通部分テンプレートファイル -->

      <nav>
        <!-- headerロゴ -->
        <%= image_tag 'nagano_cake_logo' %>
          <ul>
            <!-- 顧客、管理者がログインしている場合のヘッダーリスト -->
            <li>
              <%= link_to about_path do %>
              <span>About</span>
              <% end %>
            </li>
            <li>
              <%= link_to items_path do %>
              <span>商品一覧</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_customer_registration_path do %>
              <span>新規登録</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_customer_session_path do %>
              <span>ログイン</span>
              <% end %>
            </li>
          </ul>
      </nav>