<!-- 顧客用header部分テンプレートファイル -->

        <!-- headerロゴ -->
        <a class="navbar-brand" href="/">
          <%= image_tag 'nagano_cake_logo' %>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <!-- 顧客がログインしている場合のヘッダーリスト -->
            <li>
              <%= link_to customer_path(current_customer), class: "nav-link text-dark" do %>
              <span>マイページ</span>
              <% end %>
            </li>
            <li>
              <%= link_to items_path, class: "nav-link text-dark" do %>
              <span>商品一覧</span>
              <% end %>
            </li>
            <li>
              <%= link_to cart_items_path, class: "nav-link text-dark" do %>
              <span>カート一覧</span>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-dark" do %>
              <span>ログアウト</span>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="guests message">
          ようこそ、<%= current_customer.last_name %> <%= current_customer.first_name %>さん！
        </div>