<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- header部分 -->
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <div class="container">
          <!-- 顧客がログインしているかいないか確認 -->
          <% if customer_signed_in? %>
            <%= render 'layouts/customer_header' %>
          <!-- 管理者がログインしているかいないか確認 -->
          <% elsif admin_signed_in? %>
            <%= render 'layouts/admin_header' %>
          <% else %>
            <%= render 'layouts/common_header' %>
          <% end %>
        </div>
    </header>

    <%= yield %>

    <!-- footer部分 -->
    <footer class="footer">
      <div class="row mt-5">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </footer>
  </body>
</html>
